@font-face {
    font-family: "VT323" ;
    src: url('assets/VT323-Regular.ttf') format('truetype');
}

/*CSS de l'en-tete pour le projet dev web à CESI*/

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Pacifico&family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323";
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "VT323", Arial, Helvetica, sans-serif;
}


/* --- HEADER --- */
.body {
    background: url('assets/accueil.png') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-top: 0px;
}

header
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    margin-top: 1vh;
    z-index: 1;
    /*opacity: 0.2;*/ /*pour debugger*/
    /*background-color: #aaaaaa;*/ /*pour debugger*/
    font-family: "VT323";
}

a:hover {color: #ff5500;}

.flex_container {display: flex;}

#flex_container_1
{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /*background-color: #777777;*/ /*pour debugger*/
}

#a_logo {margin-left: 10%; /*background-color: #55bb00;*/ /*pour debugger*/}

#logo 
{
    margin-left: 2vh;
    width: 15vh; 
    height: 10vh;
    /*background-color: #0000ff;*/ /*pour debugger*/
}

#flex_container_2
{
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*background-color: #bb7777;*/ /*pour debugger*/
}

#flex_container_2 nav 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background-color: #0000ff;*/ /*pour debugger*/
}

#flex_container_2 a {color:#fff; font-size: 3vh; transition: 0.3s ease-in-out, transform 0.2s ease-in-out;}

#flex_container_2 a:hover {transform: scale(1.1);}

.lien {text-decoration: none;}

#flex_container_3
{
    margin-right: 2%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /*background-color: #77bb77;*/ /*pour debugger*/
}

#profil_1
{
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    background-color: #cccc00;
}

#profil_1 {width: 8vh; height: 8vh;}

.tooltip {display: inline-block;}

.tooltip_text_gauche
{
    position: absolute;
    width: max-content;
    height: max-content;
    border-radius: 6px;
    padding: 1vh;
    background-color: black;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    z-index: 2;
    visibility: hidden;
}

.tooltip_text_gauche::after 
{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

#tooltip_profil {transform: translateX(-19vh) translateY(2vh); font-size: 2vh;}
  
.tooltip:hover .tooltip_text_gauche {visibility: visible; opacity: 1;}

#tooltip_burger {transform: translateX(-24vh) translateY(1vh); font-size: 2vh;}

#connexion {display: none;}

#bouton_burger_1 {font-size: 5vh; cursor: pointer; /*background-color: aquamarine;*/ /*pour debugger*/}

#bouton_burger_1:hover {color: #ff5500;}

#lien_profil_1
{
    display: none;
    right: 8%;
    padding: 2vh;
    gap: 2vh;
    border-radius: 2.5%;
    outline-style: solid;
    outline-width: 0.3vh;
    border: #000000;
    background-color: #ffffff;
    z-index: 2;
}

#lien_profil_1 span {font-size: 3vh;}

#lien_profil_2, #lien_burger_1
{
    display: flex;
    position: fixed;
    flex-direction: column;
    top: -1%;
    right: -1%;
    width: 80%;
    font-size: 3vh;
    border: black solid 0.5vh;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 2;
}

#lien_profil_2 {padding: 3vh; gap: 3vh;}

#lien_profil_1, #lien_profil_2 {box-shadow: 0vh 0vh 1.25vh #ff0000;} 

#lien_burger_1 nav
{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

#flex_container_5 nav {display: flex;}

#lien_profil_1 nav
{
    display: flex;  
    flex-direction: column;
    gap: 2vh;
}

#lien_profil_1 a, #lien_profil_2 a, #lien_burger_1 a
{
    display: block;
    width: max-content;
    text-align: center;
}

#x_2, #x_3
{
    width: max-content;
    font-size: 4vh;
    cursor: pointer;
    /*background-color: blueviolet;*//*pour debugger*/
}

#x_2:hover, #x_3:hover {color: #ff0000;}

#nom_prenom_lien_profil_1, #nom_prenom_lien_profil_2 {margin-top: -1vh;}

#nom_prenom_lien_profil_1 span {font-size: 3vh;}

#flex_container_4, #flex_container_5 {height: 100%;}

#flex_container_4 nav, #flex_container_5 {display: flex; flex-direction: row;}

#flex_container_4 a {font-size: 3vh; transition: 0.3s ease-in-out, transform 0.2s ease-in-out;}

#flex_container_4 a:hover {transform: scale(1.1);}

#porte_sortie_1, #porte_sortie_2
{
    width: 3.5vh;
    height: 3.5vh;
    cursor: pointer;
    margin-left: 1vh;
}

#lien_burger_2
{
    right: 2%;
    padding: 2vh;
    gap: 2vh;
    border-radius: 5%;
    outline-style: solid;
    outline-width: 0.3vh;
    border: #000000;
    background-color: #ffffff;
    z-index: 2;
}

#lien_burger_1, #lien_burger_2 {box-shadow: 0vh 0vh 1.25vh #0099ff;}

#lien_burger_2 nav 
{
    display: flex; 
    flex-direction: column;
    font-size: 3vh;
    gap: 2vh;
}

#lien_burger_2 a 
{
    display: block;
    width: max-content;
    text-align: center;
    transition: 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#lien_burger_2 a:hover {transform: scale(1.1);}

#lien_profil_1, #lien_burger_2
{
    display: none;
    position: absolute;
    flex-direction: column;
    transition: transform 0.5s ease;
}

#lien_burger_3
{
    display: none;
    flex-direction: column;
    gap: 2vh;
    /*background-color: #bbbb00;*/ /*pour debugger*/
}



@media only screen and (orientation: portrait) 
{
    /*body {background-color: #ffbdf9;/*} /*pour debugger*/
    #logo {margin-left: 0vh;}
    
    #tooltip_burger 
    {
        transform: translateX(-25vh) translateY(1.5vh); 
        font-size: 2vh;
    }

    #flex_container_2 {display: none;}
    #lien_burger_1 nav {align-items:flex-start; text-align: left; padding-left: 2vh;}

    #lien_burger_1 nav a 
    {
        padding: 2vh 2vh 2vh 0vh;
        width: 100%;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }

    #lien_burger_1 a, #lien_burger_3 a 
    {
        position: relative;
        text-align: left;
        padding-left: 2vh;
    }

    #lien_burger_1 a:not(:first-child)::before, #lien_burger_3 a::before {
        content: "";
        position: absolute;
        top: -0.2vh;
        left: -2vh;
        width: 110%;
        height: 0.2vh;
        background-color: #000000;
    }

    #lien_burger_1 a::after, #lien_burger_3 a::after {
        content: "";
        position: absolute;
        top: 0vh;
        left: -2vh;
        width: 10%;
        height: 100%;
        /*background-color: #ff8877;*/ /*pour debugger*/
        z-index: -1;
    }

    #x_2, #x_3 {display: flex;}
    #x_2 {margin: 2vh 0vh 2vh 2vh;}
    #lien_burger_3 {display: flex; gap: 4vh;}
    #porte_sortie_1, #porte_sortie_2 {width: 3.5vh; height: 3.5vh;}
}

@media only screen and (max-width: 1499px) and (orientation: portrait)
{/*body {background-color: #bdffff;}*/ /*pour debugger*/}

@media only screen and (max-width: 929px) and (orientation: portrait) {/*body {background-color: #bdffbf;}*/ /*pour debugger*/}

@media only screen and (max-width: 599px) and (orientation: portrait) {/*body {background-color: #f8ffbd;*/ /*pour debugger*/}



@media only screen and (orientation: landscape)
{
    /*body {background-color: #ffdbbd;}*/ /*pour debugger*/
    #porte_sortie_1 {width: 3.5vh; height: 3.5vh;}
    #lien_profil_1, #lien_profil_2, #lien_burger_1, #lien_burger_2{font-size: 2vh; /*box-shadow: 0vh 0vh 0vh;*/}
}

@media only screen and (max-width: 1499px) and (orientation: landscape) 
{/*body {background-color: #cf77ff;*/ /*pour debugger*/} 

@media only screen and (max-width: 929px) and (min-height: 599px) and (orientation: landscape) 
{/*body {background-color: #fbdca3;}*/ /*pour debugger*/}

@media only screen and (max-width: 929px) and (max-height: 599px) and (orientation: landscape)
{
    /*body {background-color: #ffbaba;}*/ /*pour debugger*/
    #flex_container_2 {display: none;}
    #lien_profil_2, #lien_burger_1 {font-size: 3vh;}
    #lien_burger_1 nav {align-items:flex-start; text-align: left; padding-left: 2vh;}

    #lien_burger_1 nav a 
    {
        padding: 2vh 2vh 2vh 0vh;
        width: 100%;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }

    #lien_burger_1 a, #lien_burger_3 a 
    {
        position: relative;
        text-align: left;
        padding-left: 2vh;
    }

    #lien_burger_1 a:not(:first-child)::before, #lien_burger_3 a::before {
        content: "";
        position: absolute;
        top: -0.2vh;
        left: -2vh;
        width: 110%;
        height: 0.2vh;
        background-color: #000000;
    }

    #lien_burger_1 a::after, #lien_burger_3 a::after {
        content: "";
        position: absolute;
        top: 0vh;
        left: -2vh;
        width: 10%;
        height: 100%;
        /*background-color: #ff8877;*/ /*pour debugger*/
        z-index: -1;
    }

    #lien_profil_2 {font-size: 3vh;}
    #porte_sortie_1, #porte_sortie_2 {width: 3.5vh; height: 3.5vh;}
    #x_2, #x_3 {display: flex;}
    #x_2 {margin: 2vh 0vh 2vh 2vh;}
    #lien_burger_3 {display: flex; gap: 4vh;}
}

@media only screen and (max-height: 800px) and (orientation: landscape)
{
    /*body {background-color: #fbf7a3;}*/ /*pour debugger*/
    #porte_sortie_1, #porte_sortie_2 {width: 2.5vh; height: 2.5vh;}
}

@media only screen and (max-width: 599px) and (orientation: landscape) {/*body {background-color: #d2d2ff;*/} /*pour debugger*/





.search-bar {
    display: flex;
    margin-top: 20px;
    border: 2px solid white; /* Ajoute une bordure blanche */
    border-radius: 5px; /* Arrondi les bords */
    overflow: hidden; /* Évite que les bords débordent */
    width: 450px; /* Taille fixe pour la search bar */
}

.search-bar input {
    flex: 1; /* Permet au champ de recherche de prendre tout l’espace disponible */
    padding: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.search-bar button:hover {
    background-color: lightgray;
}
.hero-text {
    margin-top: 80px;
    width: 40%;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 10% auto; 
    padding: 2px;
    border-radius: 6px;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    align-self: flex-end;
    font-size: 28px;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    background-color: #4e4e4e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media img {
    width: 30px;
    margin: 10px;
    padding-top: 20px;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}

.cr{
    font-family: Arial, Helvetica, sans-serif;
}