/*CSS de l'en-tete pour le projet dev web à CESI*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 1;
    /*opacity: 0.2;*/ /*pour debugger*/
    /*background-color: #aaaaaa;*/ /*pour debugger*/
}

.flex_container {display: flex;}

#flex_container_1
{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /*background-color: #777777;*/ /*pour debugger*/
}

#a_logo {margin-left: 10%; /*background-color: #55bb00;*/ /*pour debugger*/}

#logo
{
    width: 18vh;
    height: 13vh;
}

#flex_container_2
{
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*background-color: #bb7777;*/ /*pour debugger*/
}

#flex_container_2 nav {display: flex; gap: 50px;}

.lien {text-decoration: none;}

#flex_container_3
{
    margin-right: 2%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /*background-color: #77bb77;*/ /*pour debugger*/
}

#profil
{
    display: flex;
    /*position: relative;*/
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    cursor: pointer;
    background-color: #cccc00;
}

.tooltip {display: inline-block;}

.tooltip_text_gauche
{
    position: absolute;
    width: max-content;
    height: max-content;
    border-radius: 6px;
    padding: 1vh;
    background-color: black;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    z-index: 2;
    visibility: hidden;
}

.tooltip_text_gauche::after 
{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

#tooltip_profil {transform: translateX(-110%) translateY(50%); font-size: 2vh;}
  
.tooltip:hover .tooltip_text_gauche {visibility: visible; opacity: 1;}

#tooltip_burger {transform: translateX(-145%) translateY(65%); font-size: 2vh;}

#connexion {display: none;}

#bouton_burger_1, #bouton_burger_2 {font-size: 50px; cursor: pointer; /*background-color: aquamarine;*//*pour debugger*/}

#lien_profil_1
{
    display: none;
    right: 8%;
    padding: 2vh;
    gap: 2vh;
    border-radius: 2.5%;
    outline-style: solid;
    outline-width: 0.3vh;
    border: #000000;
    background-color: #ffffff;
    z-index: 2;
}

#lien_profil_1 nav 
{
    display: flex;  
    flex-direction: column;
    gap: 2vh;
}

#lien_profil_1 a 
{
    display: block;
    width: max-content;
    text-align: center;
}

#x_1, #x_2
{
    display: none;
    width: max-content;
    font-size: 4vh;
    cursor: pointer;
    /*background-color: blueviolet;*//*pour debugger*/
}

#nom_prenom_lien_profil_1 {margin-top: -1vh;}

#lien_burger_2
{
    right: 2%;
    padding: 2vh;
    gap: 2vh;
    border-radius: 5%;
    outline-style: solid;
    outline-width: 0.3vh;
    border: #000000;
    background-color: #ffffff;
    z-index: 2;
}

#lien_burger_2 nav 
{
    display: flex; 
    flex-direction: column;
    gap: 2vh;
}

#lien_burger_2 a 
{
    display: block;
    width: max-content;
    text-align: center;
    /*background-color: chartreuse;*/ /*pour debugger*/
}

#lien_profil_1, #lien_burger_2
{
    display: none;
    position: absolute;
    flex-direction: column;
    transition: transform 0.5s ease;
}

#lien_burger_3
{
    display: none;
    flex-direction: column;
    gap: 2vh;
    /*background-color: #bbbb00;*/ /*pour debugger*/
}

#bouton_burger_2 
{
    display: none; 
    margin-top: 0vh;
    margin-left: 3%;
}

@media only screen and (max-width: 899px)
{
    /*body {background-color: red;}*/ /*pour debugger*/
    #flex_container_2 {display: none;}

    #lien_profil_1, #lien_burger_2
    {
        display: flex;
        position: fixed;
        top: 0%;
        right: -1%;
        width: 80%;
        border-radius: 0%;
        font-size: 3vh;
        gap: 4vh;
        transform: translateX(100%);
    }

    #lien_burger_2 nav {gap: 4vh;}
    #x_1, #x_2 {display: flex;}
    #lien_burger_3 {display: flex; gap: 4vh;}
}

@media only screen and (max-width: 699px)
{
    /*body {background-color: #0000ff;}*/ /*pour debugger*/
    header {height: auto;}
    #bouton_burger_1 {display: none;}
    #bouton_burger_2 {display: block; margin-bottom: -1vh;}
}