<!-- page d'offre pour le projet dev web à CESI -->

<!--<!doctype html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="mot_clé" content="HTML">
        <meta name="description" content="bas de page">
        <meta name="auteur" content="Badis">
        <meta name="date_de_mise_a_jour" content="12/03/2025">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="footer.css" rel="stylesheet" type="text/css">

        <title>CESI ta chance | bas de page</title>
    </head>    

    <body>-->
    <footer>
        <div class="footer">
            <div class="footer-links">
                <a href="../../index.html">Accueil</a>
                <a href="offre.html"> Offres</a>
                <a href="page entreprise1.1.html"> Entreprises </a>
                <a href="about.html"> A propos</a>
                <a href="contact.html">Nous contacter</a>
                <a href="cgu.html">Mentions légales</a>
                <a href="newsletter.html">Newsletter</a>
            </div>
            <ul id="footer-links-list" class="footer-links-list">
                <li><a href="../../index.html">Accueil</a></li>
                <li><a href="offre.html">Offres</a></li>
                <li><a href="page entreprise1.1.html">Entreprises</a></li>
                <li><a href="about.html">A propos</a></li>
                <li><a href="contact.html">Nous contacter</a></li>
                <li><a href="cgu.html">Mentions légales</a></li>
                <li><a href="newsletter.html">Newsletter</a></li>
            </ul>
            <div class="social-media">
                <a href="#"><img src="../assets/eth.png" alt="CESI Ta Chance Web 3"></a>
                <a href="#"><img src="../assets/twitter.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/cesi_ta_chance/"><img src="../assets/instagram.png" alt="Instagram"></a>
            </div>
            <p class="copyright"> <span class="cr"> &copy </span> CESI Ta Chance - 2025 Tous droits réservés.</p>
        </div>
    </footer>
    <!--</body>
</html>

<script src="footer.js"></script>-->